.app-layout {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
.app-header {
    box-shadow: 0 0 3px #67fffa;
    background: #0d0d0d;
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 4dvh;
    color: rgba(0, 170, 255, 0.905);
}
.app-content {
    flex: 1;
    background: #0d0d0d;
    overflow-y: auto;

}
.app-content::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}
.app-content::-webkit-scrollbar-thumb {
    background: rgb(0, 170, 255);
    border-radius: 4px;
    
}

.app-content::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 191, 255);
}
.app-footer {
    background: #0d0d0d;
    box-shadow: 0 0 3px #67fffa;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}



.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5dvh;
}
.footer-link {
    font-size: 3.5dvh;
    color: #18bab5;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0.5%;
    width: 20%;
    max-width: 100px;
    min-width: 8dvw;
    
    transition: all 0.3s ease;

}
.footer-link:hover {
    color: #00f2ea;
    filter: drop-shadow(0 0 3px #36fff87a);
    transition: all 0.3s ease;
}

.footer-link.active {
    font-size: 4dvh;
    color: #00f2ea;
    filter: drop-shadow(0 0 8px #36fff87a);
    transition: all 0.3s ease;
}


.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 2.6dvh;
    min-width: 12dvw;
    max-width: 120px;
    
}
.mili .header-item-icon{
    font-size: 2.3dvh;
}
.header-item-text{
    font-size: 2.6dvh;
    margin-right: 3px;
}

.pop{
    color: #00ffaa;
    filter: drop-shadow(0 0 4px #00ffaa);
}
.eco {
    color: #f0d100;
    filter: drop-shadow(0 0 4px #f0d100);
}

.mili {
    color: #ff3e6d;
    filter: drop-shadow(0 0 4px #ff3e6d);

}